palette {
  font: bold "Henny Penny", serif; /* default font*/
  color: #ffdbac; /* skwerel tan */
  color: #061c06; /* skwerel text shadow darkgreen*/
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background-color: #ffdbac;
  height: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  color: black;
  font: bold 8rem "Henny Penny", serif;
  text-shadow: 1px 1px 10px white, 6px 6px 10px #061c06;
  letter-spacing: 0.1em;
}

.card {
  width: 19rem;
  font-size: .75em;
  border: 2px darkgreen ridge;
  margin: 2% 10%;
  height: 73vh;
}

.card img {
  height: 35vh;
}

.card-text {
  font-weight: bold;
  border: 2px darkgreen solid;
  height: 100px;
  overflow: auto;
  padding: 2%;
  text-align: justify;
}

button,
.navbar {
  font-family: "Henny Penny", serif;
  text-shadow: 1px 1px 0 #061c06;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
}


/* Card and Upcoming styles */
#upcoming_container {
  /* border: #013e01a7 15px ridge; */
  height: 79vh;
  overflow: auto;
  margin: -1% 1%;
}

.movieDetails {
  margin: 0;
}

.movieDetails span {
  font-weight: bold;
}

/* #oakTree_container {
  height: 14vh;
  width: 25%;
  margin: 0 auto;
}

#oakTree_container img {
  width: 100%;
  margin: 0 auto;
  height: 100px;
}


h3 {
  font: bold 1.5rem "Henny Penny", serif;
  text-shadow: 1px 1px 10px white, 6px 6px 10px darkgreen;
  color: black;
  text-align: center;
}

input {
  display: block;
  line-height: 48px;
  min-width: 100px;
  box-shadow: -3px 3px 6px 3px #372449;
  color: black;
  font: bold 1.75rem "Henny Penny", serif;
  letter-spacing: 0.1em;
  text-align: center;
}

input::placeholder {
  color: black;
}

input:focus {
  outline: none;
  line-height: 48px;
}

.mediaBox {
  border: white ridge 20px;
  margin: 50px auto 10px;
  box-shadow: 0px -1px 10px 6px #372449;
  height: 33vh;
  width: 90%;
}

@media (max-width: 599px) {
  h1 {
    font-size: 4rem;
    margin-top: 28vh;
  }

  input {
    margin: 10px auto;
    width: 50vw;
  }

  .mediaBox {
    border: white ridge 20px;
    margin: 50px auto 10px;
    box-shadow: 0px -1px 10px 6px #372449;
    height: 33vh;
    width: 90%;
  }

  h3 {
    font-size: 2rem;
  }
}

@media (min-width: 600px) {
  h1 {
    margin-top: 11vh;
  }

  h3 {
    font-size: 3rem;
  }

  input {
    margin: 10px auto;
    width: 50vw;
  }
}

@media (min-width: 1000px) {
  input {
    margin: 15px auto;
    width: 20vw;
  }
}

 */
